(DROSOPHILA_RUBIDA:0.0226965,(DROSOPHILA_NEOHYPOCAUSTA:0.05456,DROSOPHILA_ALBOMICANS:0.005533)Anc145:0.0226965);

#Root: Anc145
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_RUBIDA

*DROSOPHILA_RUBIDA /ceph/users/pdhakad/CAT_genomes/Drosophila_rubida.nanopore.rm.fna
DROSOPHILA_NEOHYPOCAUSTA /ceph/users/pdhakad/CAT_genomes/Drosophila_neohypocausta.nanopore.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
