(DROSOPHILA_WILLISTONI:0.039023,((((DROSOPHILA_REPLETOIDES:0.12467,(DROSOPHILA_ALBOMICANS:0.005533,DROSOPHILA_INNUBILA:0.017164)Anc69:0.017683)Anc30:0.009622,(DROSOPHILA_GRIMSHAWI:0.005389,(DROSOPHILA_VIRILIS:0.014361,(DROSOPHILA_MOJAVENSIS:0.007614,DROSOPHILA_HYDEI:0.008548)Anc168:0.02698)Anc66:0.015852)Anc36:0.025257)Anc24:0.009926,ZYGOTHRICA_FLAVOFINIRA:0.187041)Anc19:0.024434,DROSOPHILA_BUSCKII:0.212296)Anc14:0.039023);

#Root: Anc14
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_BUSCKII, DROSOPHILA_GRIMSHAWI, DROSOPHILA_INNUBILA, DROSOPHILA_VIRILIS, DROSOPHILA_MOJAVENSIS, DROSOPHILA_HYDEI, DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_WILLISTONI

*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
*DROSOPHILA_REPLETOIDES /ceph/users/pdhakad/CAT_genomes/Drosophila_repletoides.GCA_018150835.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_VIRILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_virilis.GCF_003285735.1.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
ZYGOTHRICA_FLAVOFINIRA /ceph/users/pdhakad/CAT_genomes/Zygothrica_flavofinira.nanopore.rm.fna
*DROSOPHILA_BUSCKII /ceph/users/pdhakad/CAT_genomes/Drosophila_busckii.nanopore.rm.fna
