(DROSOPHILA_GUNUNGCOLA:0.019929,(((DROSOPHILA_PROLONGATA:0.008069,DROSOPHILA_RHOPALOA:0.006638)Anc183:0.003844,DROSOPHILA_KURSEONGENSIS:0.013211)Anc151:0.002427,DROSOPHILA_FUYAMAI:0.014386)Anc119:0.019929);

#Root: Anc119
#Reference_species: DROSOPHILA_RHOPALOA
#Annotated_species: DROSOPHILA_RHOPALOA
#Outgroup_species: DROSOPHILA_GUNUNGCOLA

*DROSOPHILA_GUNUNGCOLA /ceph/users/pdhakad/CAT_genomes/Drosophila_gunungcola.nanopore.rm.fna
*DROSOPHILA_PROLONGATA /ceph/users/pdhakad/CAT_genomes/Drosophila_prolongata.nanopore.rm.fna
*DROSOPHILA_RHOPALOA /ceph/users/pdhakad/CAT_genomes/Drosophila_rhopaloa.GCF_018152115.1.rm.fna
*DROSOPHILA_KURSEONGENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_kurseongensis.GCA_018153305.1.rm.fna
DROSOPHILA_FUYAMAI /ceph/users/pdhakad/CAT_genomes/Drosophila_fuyamai.GCA_018153365.1.rm.fna
