(DROSOPHILA_PACHEA:0.0302635,((((DROSOPHILA_MERIDIONALIS:0.004948,DROSOPHILA_MERIDIANA:0.00476)Anc255:0.033334,DROSOPHILA_MOJAVENSIS:0.007614)Anc228:0.009618,((((((DROSOPHILA_REPLETA:0.002858,DROSOPHILA_MERCATORUM:0.00289)Anc307:0.009813,DROSOPHILA_PARANAENSIS:0.013737)Anc299:0.022972,DROSOPHILA_PENINSULARIS:0.030498)Anc292:0.005043,DROSOPHILA_FULVIMACULA:0.038782)Anc278:0.00873,DROSOPHILA_NIGRICRURIA:0.023442)Anc256:0.009657,(DROSOPHILA_ANCEPS:0.027603,DROSOPHILA_LEONIS:0.028416)Anc257:0.007346)Anc229:0.002072)Anc199:0.005727,(DROSOPHILA_METTLERI:0.063744,DROSOPHILA_HYDEI:0.008548)Anc200:0.002639)Anc168:0.0302635);

#Root: Anc168
#Reference_species: DROSOPHILA_HYDEI
#Annotated_species: DROSOPHILA_MOJAVENSIS, DROSOPHILA_HYDEI
#Outgroup_species: DROSOPHILA_PACHEA

*DROSOPHILA_PACHEA /ceph/users/pdhakad/CAT_genomes/Drosophila_pachea.GCA_020883565.1.rm.fna
*DROSOPHILA_MERIDIONALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_meridionalis.nanopore.rm.fna
DROSOPHILA_MERIDIANA /ceph/users/pdhakad/CAT_genomes/Drosophila_meridiana.nanopore.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_REPLETA /ceph/users/pdhakad/CAT_genomes/Drosophila_repleta.GCA_018903745.1.rm.fna
DROSOPHILA_MERCATORUM /ceph/users/pdhakad/CAT_genomes/Drosophila_mercatorum.nanopore.rm.fna
*DROSOPHILA_PARANAENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_paranaensis.nanopore.rm.fna
DROSOPHILA_PENINSULARIS /ceph/users/pdhakad/CAT_genomes/Drosophila_peninsularis.nanopore.rm.fna
DROSOPHILA_FULVIMACULA /ceph/users/pdhakad/CAT_genomes/Drosophila_fulvimacula.nanopore.rm.fna
*DROSOPHILA_NIGRICRURIA /ceph/users/pdhakad/CAT_genomes/Drosophila_nigricruria.nanopore.rm.fna
DROSOPHILA_ANCEPS /ceph/users/pdhakad/CAT_genomes/Drosophila_anceps.nanopore.rm.fna
DROSOPHILA_LEONIS /ceph/users/pdhakad/CAT_genomes/Drosophila_leonis.nanopore.rm.fna
*DROSOPHILA_METTLERI /ceph/users/pdhakad/CAT_genomes/Drosophila_mettleri.nanopore.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
