(DROSOPHILA_JAMBULINA:0.0221255,(DROSOPHILA_KIKKAWAI:0.007668,DROSOPHILA_BOCKI:0.009346)Anc122:0.0221255);

#Root: Anc122
#Reference_species: DROSOPHILA_KIKKAWAI
#Annotated_species: DROSOPHILA_KIKKAWAI
#Outgroup_species: DROSOPHILA_JAMBULINA

*DROSOPHILA_JAMBULINA /ceph/users/pdhakad/CAT_genomes/Drosophila_jambulina.GCA_018152175.1.rm.fna
*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
DROSOPHILA_BOCKI /ceph/users/pdhakad/CAT_genomes/Drosophila_bocki.GCA_008042715.1.rm.fna
