(DROSOPHILA_REPLETOIDES:0.067938,((((((ZAPRIONUS_CAMEROUNENSIS:0.005546,ZAPRIONUS_NIGRANUS:0.014178)Anc264:0.00337,ZAPRIONUS_LACHAISEI:0.011931)Anc236:0.001269,ZAPRIONUS_VITTIGER:0.00885)Anc208:0.006824,((ZAPRIONUS_DAVIDI:0.011394,ZAPRIONUS_TARONUS:0.014099)Anc237:0.002451,ZAPRIONUS_CAPENSIS:0.010952)Anc209:0.003734)Anc177:0.009138,((ZAPRIONUS_INDIANUS:0.004978,ZAPRIONUS_GABONICUS:0.004323)Anc210:0.009203,ZAPRIONUS_AFRICANUS:0.013378)Anc178:0.011595)Anc147:0.004741,DROSOPHILA_ALBOMICANS:0.005533)Anc38:0.067938);

#Root: Anc38
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Intron_bam: 
#Outgroup_species: DROSOPHILA_REPLETOIDES

*DROSOPHILA_REPLETOIDES /ceph/users/pdhakad/CAT_genomes/Drosophila_repletoides.GCA_018150835.1.rm.fna
*ZAPRIONUS_CAMEROUNENSIS /ceph/users/pdhakad/CAT_genomes/Zaprionus_camerounensis.GCA_018904165.1.rm.fna
ZAPRIONUS_NIGRANUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_nigranus.GCA_018903425.1.rm.fna
ZAPRIONUS_LACHAISEI /ceph/users/pdhakad/CAT_genomes/Zaprionus_lachaisei.GCA_018901815.1.rm.fna
ZAPRIONUS_VITTIGER /ceph/users/pdhakad/CAT_genomes/Zaprionus_vittiger.GCA_018904025.1.rm.fna
*ZAPRIONUS_DAVIDI /ceph/users/pdhakad/CAT_genomes/Zaprionus_davidi.GCA_018903715.1.rm.fna
ZAPRIONUS_TARONUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_taronus.GCA_018901805.1.rm.fna
*ZAPRIONUS_CAPENSIS /ceph/users/pdhakad/CAT_genomes/Zaprionus_capensis.GCA_018903675.1.rm.fna
ZAPRIONUS_INDIANUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_indianus.GCA_018904595.1.rm.fna
*ZAPRIONUS_GABONICUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_gabonicus.nanopore.rm.fna
*ZAPRIONUS_AFRICANUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_africanus.GCA_018151435.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
