(DROSOPHILA_EZOANA:0.0122405,(((DROSOPHILA_AMERICANA:0.014119,DROSOPHILA_AMERICANA_TEXANA:0.003516)Anc201:0.001359,DROSOPHILA_NOVAMEXICANA:0.004476)Anc169:0.00827,DROSOPHILA_VIRILIS:0.014361)Anc138:0.0122405);

#Root: Anc138
#Reference_species: DROSOPHILA_VIRILIS
#Annotated_species: DROSOPHILA_NOVAMEXICANA, DROSOPHILA_VIRILIS
#Outgroup_species: DROSOPHILA_EZOANA

*DROSOPHILA_EZOANA /ceph/users/pdhakad/CAT_genomes/Drosophila_ezoana.nanopore.rm.fna
*DROSOPHILA_AMERICANA /ceph/users/pdhakad/CAT_genomes/Drosophila_americana.GCA_030788265.1.rm.fna
DROSOPHILA_AMERICANA_TEXANA /ceph/users/pdhakad/CAT_genomes/Drosophila_americana_texana.GCA_019972375.1.rm.fna
DROSOPHILA_NOVAMEXICANA /ceph/users/pdhakad/CAT_genomes/Drosophila_novamexicana.GCF_003285875.2.rm.fna
DROSOPHILA_VIRILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_virilis.GCF_003285735.1.rm.fna
