(DROSOPHILA_ANANASSAE:0.011189,(((DROSOPHILA_PSEUDOANANASSAE_PSEUDOANANASSAE:0.003849,DROSOPHILA_PSEUDOANANASSAE:0.003909)Anc189:0.002352,DROSOPHILA_PSEUDOANANASSAE_NIGRENS:0.004721)Anc156:0.010708,DROSOPHILA_BIPECTINATA:0.00726)Anc124:0.011189);

#Root: Anc124
#Reference_species: DROSOPHILA_BIPECTINATA
#Annotated_species: DROSOPHILA_BIPECTINATA
#Outgroup_species: DROSOPHILA_ANANASSAE

*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
DROSOPHILA_PSEUDOANANASSAE_PSEUDOANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoananassae_pseudoananassae.GCA_018153035.1.rm.fna
DROSOPHILA_PSEUDOANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoananassae.GCA_021223845.1.rm.fna
DROSOPHILA_PSEUDOANANASSAE_NIGRENS /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoananassae_nigrens.GCA_018153145.1.rm.fna
*DROSOPHILA_BIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bipectinata.GCF_018153845.1.rm.fna
