(DROSOPHILA_BIFASCIATA:0.0245235,((DROSOPHILA_TRISTIS:0.010276,DROSOPHILA_AMBIGUA:0.013033)Anc129:0.004869,DROSOPHILA_OBSCURA:0.013151)Anc101:0.0245235);

#Root: Anc101
#Reference_species: DROSOPHILA_OBSCURA
#Annotated_species: DROSOPHILA_OBSCURA
#Outgroup_species: DROSOPHILA_BIFASCIATA

*DROSOPHILA_BIFASCIATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bifasciata.GCA_009664405.1.rm.fna
DROSOPHILA_TRISTIS /ceph/users/pdhakad/CAT_genomes/Drosophila_tristis.GCA_018150885.1.rm.fna
*DROSOPHILA_AMBIGUA /ceph/users/pdhakad/CAT_genomes/Drosophila_ambigua.GCA_018150905.1.rm.fna
DROSOPHILA_OBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_obscura.GCF_018151105.1.rm.fna
