(DROSOPHILA_PACHEA:0.0265725,((DROSOPHILA_MOJAVENSIS:0.007614,DROSOPHILA_HYDEI:0.008548)Anc168:0.02698,DROSOPHILA_GAUCHA:0.050165)Anc136:0.0265725);

#Root: Anc136
#Reference_species: DROSOPHILA_HYDEI
#Annotated_species: DROSOPHILA_MOJAVENSIS, DROSOPHILA_HYDEI
#Outgroup_species: DROSOPHILA_PACHEA

*DROSOPHILA_PACHEA /ceph/users/pdhakad/CAT_genomes/Drosophila_pachea.GCA_020883565.1.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
DROSOPHILA_GAUCHA /ceph/users/pdhakad/CAT_genomes/Drosophila_gaucha.nanopore.rm.fna
