(DROSOPHILA_BIARMIPES:0.022374,(((DROSOPHILA_PROSTIPENNIS:0.016732,DROSOPHILA_PSEUDOTAKAHASHII:0.014885)Anc242:0.003095,DROSOPHILA_TAKAHASHII:0.022784)Anc214:0.011849,DROSOPHILA_MIMETICA:0.026693)Anc181:0.022374);

#Root: Anc181
#Reference_species: DROSOPHILA_TAKAHASHII
#Annotated_species: DROSOPHILA_TAKAHASHII
#Outgroup_species: DROSOPHILA_BIARMIPES

*DROSOPHILA_BIARMIPES /ceph/users/pdhakad/CAT_genomes/Drosophila_biarmipes.GCF_025231255.1.rm.fna
DROSOPHILA_PROSTIPENNIS /ceph/users/pdhakad/CAT_genomes/Drosophila_prostipennis.nanopore.rm.fna
DROSOPHILA_PSEUDOTAKAHASHII /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudotakahashii.nanopore.rm.fna
*DROSOPHILA_TAKAHASHII /ceph/users/pdhakad/CAT_genomes/Drosophila_takahashii.GCF_018152695.1.rm.fna
*DROSOPHILA_MIMETICA /ceph/users/pdhakad/CAT_genomes/Drosophila_mimetica.nanopore.rm.fna
