(DROSOPHILA_COGNATA:0.003383,((((((((DROSOPHILA_HETERONEURA:0.003296,DROSOPHILA_SILVESTRIS:0.00224)Anc288:0.002139,(DROSOPHILA_DIFFERENS:0.004983,DROSOPHILA_PLANITIBIA:0.002673)Anc289:0.001664)Anc274:0.008248,(DROSOPHILA_MELANOCEPHALA:0.005297,DROSOPHILA_CYRTOLOMA:0.002794)Anc275:0.006958)Anc251:0.003209,(DROSOPHILA_QUASIANOMALIPES:0.006648,DROSOPHILA_ANOMALIPES:0.0056)Anc252:0.008675)Anc226:0.003165,DROSOPHILA_GRIMSHAWI:0.005389)Anc196:0.001206,DROSOPHILA_PICTICORNIS:0.021763)Anc165:0.00723,DROSOPHILA_SETOSIMENTUM:0.031816)Anc133:0.004349,DROSOPHILA_PRIMAEVA:0.031176)Anc106:0.003383);

#Root: Anc106
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Outgroup_species: DROSOPHILA_COGNATA

*DROSOPHILA_COGNATA /ceph/users/pdhakad/CAT_genomes/Drosophila_cognata.nanopore.rm.fna
DROSOPHILA_HETERONEURA /ceph/users/pdhakad/CAT_genomes/Drosophila_heteroneura.nanopore.rm.fna
DROSOPHILA_SILVESTRIS /ceph/users/pdhakad/CAT_genomes/Drosophila_silvestris.nanopore.rm.fna
DROSOPHILA_DIFFERENS /ceph/users/pdhakad/CAT_genomes/Drosophila_differens.nanopore.rm.fna
DROSOPHILA_PLANITIBIA /ceph/users/pdhakad/CAT_genomes/Drosophila_planitibia.nanopore.rm.fna
DROSOPHILA_MELANOCEPHALA /ceph/users/pdhakad/CAT_genomes/Drosophila_melanocephala.nanopore.rm.fna
*DROSOPHILA_CYRTOLOMA /ceph/users/pdhakad/CAT_genomes/Drosophila_cyrtoloma.nanopore.rm.fna
DROSOPHILA_QUASIANOMALIPES /ceph/users/pdhakad/CAT_genomes/Drosophila_quasianomalipes.nanopore.rm.fna
*DROSOPHILA_ANOMALIPES /ceph/users/pdhakad/CAT_genomes/Drosophila_anomalipes.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
*DROSOPHILA_PICTICORNIS /ceph/users/pdhakad/CAT_genomes/Drosophila_picticornis.nanopore.rm.fna
*DROSOPHILA_SETOSIMENTUM /ceph/users/pdhakad/CAT_genomes/Drosophila_setosimentum.nanopore.rm.fna
DROSOPHILA_PRIMAEVA /ceph/users/pdhakad/CAT_genomes/Drosophila_primaeva.nanopore.rm.fna
