(DROSOPHILA_ACUTILABELLA:0.013243,(((DROSOPHILA_HISTRIO:0.058223,DROSOPHILA_INNUBILA:0.017164)Anc171:0.006664,((DROSOPHILA_NEOTESTACEA:0.008144,DROSOPHILA_TESTACEA:0.008184)Anc203:0.009304,DROSOPHILA_PUTRIDA:0.021096)Anc172:0.043429)Anc141:0.003662,(DROSOPHILA_FUNEBRIS:0.029574,DROSOPHILA_MACROSPINA:0.034647)Anc142:0.027984)Anc113:0.013243);

#Root: Anc113
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_ACUTILABELLA

*DROSOPHILA_ACUTILABELLA /ceph/users/pdhakad/CAT_genomes/Drosophila_acutilabella.nanopore.rm.fna
*DROSOPHILA_HISTRIO /ceph/users/pdhakad/CAT_genomes/Drosophila_histrio.GCA_958299025.2.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
DROSOPHILA_NEOTESTACEA /ceph/users/pdhakad/CAT_genomes/Drosophila_neotestacea.nanopore.rm.fna
DROSOPHILA_TESTACEA /ceph/users/pdhakad/CAT_genomes/Drosophila_testacea.nanopore.rm.fna
DROSOPHILA_PUTRIDA /ceph/users/pdhakad/CAT_genomes/Drosophila_putrida.nanopore.rm.fna
*DROSOPHILA_FUNEBRIS /ceph/users/pdhakad/CAT_genomes/Drosophila_funebris.GCA_958295475.1.rm.fna
DROSOPHILA_MACROSPINA /ceph/users/pdhakad/CAT_genomes/Drosophila_macrospina.nanopore.rm.fna
