(DROSOPHILA_WILLISTONI:0.0167245,(((((CHYMOMYZA_FUSCIMANA:0.019861,CHYMOMYZA_COSTATA:0.020765)Anc46:0.006471,CHYMOMYZA_AMOENA:0.035412)Anc35:0.015508,CHYMOMYZA_PROCNEMIS:0.076645)Anc27:0.035998,CHYMOMYZA_CAUDATULA:0.069156)Anc21:0.118134,SCAPTODROSOPHILA_LEBANONENSIS:0.185816)Anc16:0.0167245);

#Root: Anc16
#Reference_species: SCAPTODROSOPHILA_LEBANONENSIS
#Annotated_species: SCAPTODROSOPHILA_LEBANONENSIS
#Outgroup_species: DROSOPHILA_WILLISTONI

*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
*CHYMOMYZA_FUSCIMANA /ceph/users/pdhakad/CAT_genomes/Chymomyza_fuscimana.GCA_949987675.1.rm.fna
CHYMOMYZA_COSTATA /ceph/users/pdhakad/CAT_genomes/Chymomyza_costata.GCA_018150985.1.rm.fna
CHYMOMYZA_AMOENA /ceph/users/pdhakad/CAT_genomes/Chymomyza_amoena.nanopore.rm.fna
*CHYMOMYZA_PROCNEMIS /ceph/users/pdhakad/CAT_genomes/Chymomyza_procnemis.nanopore.rm.fna
CHYMOMYZA_CAUDATULA /ceph/users/pdhakad/CAT_genomes/Chymomyza_caudatula.nanopore.rm.fna
SCAPTODROSOPHILA_LEBANONENSIS /ceph/users/pdhakad/CAT_genomes/Scaptodrosophila_lebanonensis.GCF_003285725.1.rm.fna
