(DROSOPHILA_WILLISTONI:0.0148445,(SCAPTODROSOPHILA_LATIFASCIAEFORMIS:0.23611,SCAPTODROSOPHILA_LEBANONENSIS:0.185816)Anc10:0.0148445);

#Root: Anc10
#Reference_species: SCAPTODROSOPHILA_LEBANONENSIS
#Annotated_species: SCAPTODROSOPHILA_LEBANONENSIS
#Outgroup_species: DROSOPHILA_WILLISTONI

*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
SCAPTODROSOPHILA_LATIFASCIAEFORMIS /ceph/users/pdhakad/CAT_genomes/Scaptodrosophila_latifasciaeformis.nanopore.rm.fna
SCAPTODROSOPHILA_LEBANONENSIS /ceph/users/pdhakad/CAT_genomes/Scaptodrosophila_lebanonensis.GCF_003285725.1.rm.fna
