(DROSOPHILA_REPLETOIDES:0.067938,(((((ZAPRIONUS_TSACASI:0.017186,ZAPRIONUS_TUBERCULATUS:0.016517)Anc211:0.006465,ZAPRIONUS_KOLODKINAE:0.018537)Anc179:0.016952,ZAPRIONUS_INERMIS:0.036053)Anc148:0.026492,ZAPRIONUS_GHESQUIEREI:0.049583)Anc117:0.007032,DROSOPHILA_ALBOMICANS:0.005533)Anc38:0.067938);

#Root: Anc38
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Intron_bam: 
#Outgroup_species: DROSOPHILA_REPLETOIDES

*DROSOPHILA_REPLETOIDES /ceph/users/pdhakad/CAT_genomes/Drosophila_repletoides.GCA_018150835.1.rm.fna
ZAPRIONUS_TSACASI /ceph/users/pdhakad/CAT_genomes/Zaprionus_tsacasi.GCA_018904105.1.rm.fna
*ZAPRIONUS_TUBERCULATUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_tuberculatus.nanopore.rm.fna
ZAPRIONUS_KOLODKINAE /ceph/users/pdhakad/CAT_genomes/Zaprionus_kolodkinae.GCA_018901885.1.rm.fna
ZAPRIONUS_INERMIS /ceph/users/pdhakad/CAT_genomes/Zaprionus_inermis.GCA_018151445.1.rm.fna
ZAPRIONUS_GHESQUIEREI /ceph/users/pdhakad/CAT_genomes/Zaprionus_ghesquierei.GCA_018904095.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
