(SCAPTOMYZA_PARVA:0.061343,(DROSOPHILA_GRIMSHAWI:0.005389,((DROSOPHILA_INFUSCATA:0.007557,DROSOPHILA_KAMBYSELLISI:0.00729)Anc193:0.00652,DROSOPHILA_MIMICA:0.011036)Anc162:0.020843)Anc84:0.061343);

#Root: Anc84
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Intron_bam: DROSOPHILA_INFUSCATA;DROSOPHILA_MIMICA, DROSOPHILA_KAMBYSELLISI;DROSOPHILA_MIMICA
#Outgroup_species: SCAPTOMYZA_PARVA

*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_INFUSCATA /ceph/users/pdhakad/CAT_genomes/Drosophila_infuscata.nanopore.rm.fna
DROSOPHILA_KAMBYSELLISI /ceph/users/pdhakad/CAT_genomes/Drosophila_kambysellisi.nanopore.rm.fna
DROSOPHILA_MIMICA /ceph/users/pdhakad/CAT_genomes/Drosophila_mimica.nanopore.rm.fna
