(DROSOPHILA_ATRIPEX:0.0155125,(((DROSOPHILA_PALLIDOSA:0.00407,DROSOPHILA_ANANASSAE:0.003202)Anc220:0.002361,DROSOPHILA_ANOMALATA:0.006247)Anc190:0.003231,DROSOPHILA_PANDORA:0.007523)Anc157:0.0155125);

#Root: Anc157
#Reference_species: DROSOPHILA_ANANASSAE
#Annotated_species: DROSOPHILA_ANANASSAE
#Outgroup_species: DROSOPHILA_ATRIPEX

*DROSOPHILA_ATRIPEX /ceph/users/pdhakad/CAT_genomes/Drosophila_atripex.nanopore.rm.fna
DROSOPHILA_PALLIDOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_pallidosa.nanopore.rm.fna
*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
DROSOPHILA_ANOMALATA /ceph/users/pdhakad/CAT_genomes/Drosophila_anomalata.nanopore.rm.fna
DROSOPHILA_PANDORA /ceph/users/pdhakad/CAT_genomes/Drosophila_pandora.GCA_021223865.1.rm.fna
