(DROSOPHILA_ATRIPEX:0.0135585,((DROSOPHILA_MALERKOTLIANA_PALLENS:0.006633,DROSOPHILA_MALERKOTLIANA_MALERKOTLIANA:0.006138)Anc187:0.001722,(DROSOPHILA_BIPECTINATA:0.00726,DROSOPHILA_PARABIPECTINATA:0.007977)Anc188:0.0013)Anc155:0.0135585);

#Root: Anc155
#Reference_species: DROSOPHILA_BIPECTINATA
#Annotated_species: DROSOPHILA_BIPECTINATA
#Outgroup_species: DROSOPHILA_ATRIPEX

*DROSOPHILA_ATRIPEX /ceph/users/pdhakad/CAT_genomes/Drosophila_atripex.nanopore.rm.fna
*DROSOPHILA_MALERKOTLIANA_PALLENS /ceph/users/pdhakad/CAT_genomes/Drosophila_malerkotliana_pallens.GCA_018153275.1.rm.fna
*DROSOPHILA_MALERKOTLIANA_MALERKOTLIANA /ceph/users/pdhakad/CAT_genomes/Drosophila_malerkotliana_malerkotliana.GCA_018153235.1.rm.fna
*DROSOPHILA_BIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bipectinata.GCF_018153845.1.rm.fna
*DROSOPHILA_PARABIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_parabipectinata.GCA_018153455.1.rm.fna
