(DROSOPHILA_GRIMSHAWI:0.014483,(((((DROSOPHILA_KIKKAWAI:0.007668,(DROSOPHILA_RHOPALOA:0.006638,((DROSOPHILA_ERECTA:0.013766,DROSOPHILA_MELANOGASTER:0.015924)Anc180:0.03816,DROSOPHILA_TAKAHASHII:0.022784)Anc118:0.009039)Anc72:0.01715)Anc39:0.018283,(DROSOPHILA_BIPECTINATA:0.00726,DROSOPHILA_ANANASSAE:0.003202)Anc97:0.020178)Anc31:0.063202,(((DROSOPHILA_GUANCHE:0.016183,DROSOPHILA_SUBOBSCURA:0.011909)Anc58:0.03121,DROSOPHILA_OBSCURA:0.013151)Anc42:0.008453,DROSOPHILA_PSEUDOOBSCURA:0.002588)Anc32:0.098713)Anc25:0.054242,DROSOPHILA_WILLISTONI:0.0159)Anc20:0.030856,HIRTODROSOPHILA_DUNCANI:0.174254)Anc15:0.014483);

#Root: Anc15
#Reference_species: DROSOPHILA_MELANOGASTER
#Annotated_species: DROSOPHILA_WILLISTONI, DROSOPHILA_PSEUDOOBSCURA, DROSOPHILA_KIKKAWAI, DROSOPHILA_BIPECTINATA, DROSOPHILA_ANANASSAE, DROSOPHILA_OBSCURA, DROSOPHILA_RHOPALOA, DROSOPHILA_GUANCHE, DROSOPHILA_SUBOBSCURA, DROSOPHILA_TAKAHASHII, DROSOPHILA_ERECTA, DROSOPHILA_MELANOGASTER
#Outgroup_species: DROSOPHILA_GRIMSHAWI

*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
*DROSOPHILA_MELANOGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_melanogaster.GCF_000001215.4.rm.fna
*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
HIRTODROSOPHILA_DUNCANI /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_duncani.nanopore.rm.fna
