(DROSOPHILA_NEBULOSA:0.027839,(((DROSOPHILA_PAULISTORUM:0.0112,DROSOPHILA_EQUINOXIALIS:0.012292)Anc160:0.007104,DROSOPHILA_WILLISTONI:0.0159)Anc130:0.00414,DROSOPHILA_TROPICALIS:0.021037)Anc102:0.027839);

#Root: Anc102
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_NEBULOSA

*DROSOPHILA_NEBULOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_nebulosa.GCA_024703675.1.rm.fna
*DROSOPHILA_PAULISTORUM /ceph/users/pdhakad/CAT_genomes/Drosophila_paulistorum.GCA_018152135.1.rm.fna
DROSOPHILA_EQUINOXIALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_equinoxialis.GCA_018150345.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
DROSOPHILA_TROPICALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_tropicalis.GCA_018151085.1.rm.fna
