(SCAPTOMYZA_PARVA:0.061343,(DROSOPHILA_GRIMSHAWI:0.005389,((((DROSOPHILA_FULGIDA:0.002737,DROSOPHILA_MELANOSOMA:0.002934)Anc224:0.009805,DROSOPHILA_FUNGIPERDA:0.012754)Anc194:0.001527,DROSOPHILA_LONGIPERDA:0.016499)Anc163:0.004883,((DROSOPHILA_MULTICILIATA:0.010547,DROSOPHILA_DEMIPOLITA:0.012037)Anc195:0.00367,DROSOPHILA_DIVES:0.015222)Anc164:0.007088)Anc132:0.037921)Anc84:0.061343);

#Root: Anc84
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Intron_bam: 
#Outgroup_species: SCAPTOMYZA_PARVA

*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_FULGIDA /ceph/users/pdhakad/CAT_genomes/Drosophila_fulgida.nanopore.rm.fna
DROSOPHILA_MELANOSOMA /ceph/users/pdhakad/CAT_genomes/Drosophila_melanosoma.nanopore.rm.fna
DROSOPHILA_FUNGIPERDA /ceph/users/pdhakad/CAT_genomes/Drosophila_fungiperda.nanopore.rm.fna
DROSOPHILA_LONGIPERDA /ceph/users/pdhakad/CAT_genomes/Drosophila_longiperda.nanopore.rm.fna
*DROSOPHILA_MULTICILIATA /ceph/users/pdhakad/CAT_genomes/Drosophila_multiciliata.nanopore.rm.fna
DROSOPHILA_DEMIPOLITA /ceph/users/pdhakad/CAT_genomes/Drosophila_demipolita.nanopore.rm.fna
DROSOPHILA_DIVES /ceph/users/pdhakad/CAT_genomes/Drosophila_dives.nanopore.rm.fna
