(DROSOPHILA_PRUINOSA:0.054436,((((DROSOPHILA_FORMOSANA:0.010122,DROSOPHILA_USTULATA:0.008981)Anc206:0.00284,DROSOPHILA_IMMIGRANS:0.009258)Anc175:0.044462,((DROSOPHILA_HYPOCAUSTA:0.013323,DROSOPHILA_SIAMANA:0.015548)Anc207:0.019514,DROSOPHILA_RUBIDA:0.03904)Anc176:0.020247)Anc146:0.004763,DROSOPHILA_ALBOMICANS:0.005533)Anc115:0.054436);

#Root: Anc115
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_PRUINOSA

*DROSOPHILA_PRUINOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_pruinosa.GCA_018150935.1.rm.fna
DROSOPHILA_FORMOSANA /ceph/users/pdhakad/CAT_genomes/Drosophila_formosana.nanopore.rm.fna
*DROSOPHILA_USTULATA /ceph/users/pdhakad/CAT_genomes/Drosophila_ustulata.nanopore.rm.fna
DROSOPHILA_IMMIGRANS /ceph/users/pdhakad/CAT_genomes/Drosophila_immigrans.GCA_018153375.1.rm.fna
*DROSOPHILA_HYPOCAUSTA /ceph/users/pdhakad/CAT_genomes/Drosophila_hypocausta.nanopore.rm.fna
DROSOPHILA_SIAMANA /ceph/users/pdhakad/CAT_genomes/Drosophila_siamana.nanopore.rm.fna
*DROSOPHILA_RUBIDA /ceph/users/pdhakad/CAT_genomes/Drosophila_rubida.nanopore.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
