(SCAPTOMYZA_PARVA:0.061343,(DROSOPHILA_GRIMSHAWI:0.005389,((DROSOPHILA_TANYTHRIX:0.001014,DROSOPHILA_YOONI:0.003674)Anc223:0.002561,DROSOPHILA_COGNATA:0.004616)Anc192:0.012539)Anc84:0.061343);

#Root: Anc84
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Intron_bam: DROSOPHILA_COGNATA;DROSOPHILA_TANYTHRIX, DROSOPHILA_YOONI;DROSOPHILA_TANYTHRIX
#Outgroup_species: SCAPTOMYZA_PARVA

*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
*DROSOPHILA_TANYTHRIX /ceph/users/pdhakad/CAT_genomes/Drosophila_tanythrix.nanopore.rm.fna
DROSOPHILA_YOONI /ceph/users/pdhakad/CAT_genomes/Drosophila_yooni.nanopore.rm.fna
*DROSOPHILA_COGNATA /ceph/users/pdhakad/CAT_genomes/Drosophila_cognata.nanopore.rm.fna
