(DROSOPHILA_RUBIDA:0.036278,((((((DROSOPHILA_SULFURIGASTER_BILIMBATA:0.004046,DROSOPHILA_SULFURIGASTER:0.002359)Anc294:0.000454,DROSOPHILA_SULFURIGASTER_SULFURIGASTER:0.004016)Anc281:0.002882,DROSOPHILA_SULFURIGASTER_ALBOSTRIGATA:0.005491)Anc262:0.003583,DROSOPHILA_ALBOMICANS:0.005533)Anc234:0.000616,(DROSOPHILA_KOHKOA:0.007056,DROSOPHILA_PALLIDIFRONS:0.009331)Anc235:0.001968)Anc205:0.010317,DROSOPHILA_NIVEIFRONS:0.018707)Anc174:0.036278);

#Root: Anc174
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_RUBIDA

*DROSOPHILA_RUBIDA /ceph/users/pdhakad/CAT_genomes/Drosophila_rubida.nanopore.rm.fna
*DROSOPHILA_SULFURIGASTER_BILIMBATA /ceph/users/pdhakad/CAT_genomes/Drosophila_sulfurigaster_bilimbata.GCA_023558465.1.rm.fna
DROSOPHILA_SULFURIGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_sulfurigaster.GCA_021223965.1.rm.fna
*DROSOPHILA_SULFURIGASTER_SULFURIGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_sulfurigaster_sulfurigaster.GCA_023558475.1.rm.fna
*DROSOPHILA_SULFURIGASTER_ALBOSTRIGATA /ceph/users/pdhakad/CAT_genomes/Drosophila_sulfurigaster_albostrigata.GCA_023558435.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
DROSOPHILA_KOHKOA /ceph/users/pdhakad/CAT_genomes/Drosophila_kohkoa.GCA_019972355.1.rm.fna
*DROSOPHILA_PALLIDIFRONS /ceph/users/pdhakad/CAT_genomes/Drosophila_pallidifrons.GCA_023558445.1.rm.fna
*DROSOPHILA_NIVEIFRONS /ceph/users/pdhakad/CAT_genomes/Drosophila_niveifrons.nanopore.rm.fna
