(DROSOPHILA_ANOMALIPES:0.005203,(((((((DROSOPHILA_SPROATI:0.006304,DROSOPHILA_MURPHYI:0.005375)Anc309:0.003129,DROSOPHILA_OCHRACEA:0.010492)Anc303:0.000646,DROSOPHILA_VILLOSIPEDIS:0.009659)Anc296:0.001859,DROSOPHILA_ENGYOCHRACEA:0.009616)Anc285:0.00318,((DROSOPHILA_CRUCIGERA:0.008822,DROSOPHILA_GRIMSHAWI:0.005389)Anc297:0.002162,DROSOPHILA_HAWAIIENSIS:0.016728)Anc286:0.000851)Anc271:0.001635,(DROSOPHILA_GLABRIAPEX:0.011278,DROSOPHILA_MACROTHRIX:0.013197)Anc272:0.001066)Anc249:0.00108,(((DROSOPHILA_PAUCIPUNTA:0.001159,DROSOPHILA_BASISETAE:0.002169)Anc287:0.0051,DROSOPHILA_PROLACTICILLIA:0.009615)Anc273:0.002249,DROSOPHILA_PAUCIPUNCTA:0.008608)Anc250:0.008502)Anc225:0.005203);

#Root: Anc225
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Outgroup_species: DROSOPHILA_ANOMALIPES

*DROSOPHILA_ANOMALIPES /ceph/users/pdhakad/CAT_genomes/Drosophila_anomalipes.nanopore.rm.fna
DROSOPHILA_SPROATI /ceph/users/pdhakad/CAT_genomes/Drosophila_sproati.GCA_018904355.1.rm.fna
*DROSOPHILA_MURPHYI /ceph/users/pdhakad/CAT_genomes/Drosophila_murphyi.GCA_018904325.1.rm.fna
*DROSOPHILA_OCHRACEA /ceph/users/pdhakad/CAT_genomes/Drosophila_ochracea.nanopore.rm.fna
*DROSOPHILA_VILLOSIPEDIS /ceph/users/pdhakad/CAT_genomes/Drosophila_villosipedis.nanopore.rm.fna
*DROSOPHILA_ENGYOCHRACEA /ceph/users/pdhakad/CAT_genomes/Drosophila_engyochracea.nanopore.rm.fna
*DROSOPHILA_CRUCIGERA /ceph/users/pdhakad/CAT_genomes/Drosophila_crucigera.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_HAWAIIENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_hawaiiensis.nanopore.rm.fna
*DROSOPHILA_GLABRIAPEX /ceph/users/pdhakad/CAT_genomes/Drosophila_glabriapex.nanopore.rm.fna
*DROSOPHILA_MACROTHRIX /ceph/users/pdhakad/CAT_genomes/Drosophila_macrothrix.nanopore.rm.fna
*DROSOPHILA_PAUCIPUNTA /ceph/users/pdhakad/CAT_genomes/Drosophila_paucipunta.nanopore.rm.fna
DROSOPHILA_BASISETAE /ceph/users/pdhakad/CAT_genomes/Drosophila_basisetae.nanopore.rm.fna
DROSOPHILA_PROLACTICILLIA /ceph/users/pdhakad/CAT_genomes/Drosophila_prolacticillia.nanopore.rm.fna
*DROSOPHILA_PAUCIPUNCTA /ceph/users/pdhakad/CAT_genomes/Drosophila_paucipuncta.nanopore.rm.fna
