(DROSOPHILA_HAMATOFILA:0.0221535,(((DROSOPHILA_ALDRICHI:0.017056,DROSOPHILA_MULLERI:0.016372)Anc306:0.004857,DROSOPHILA_MOJAVENSIS:0.007614)Anc298:0.005295,DROSOPHILA_MAYAGUANA:0.024211)Anc290:0.0221535);

#Root: Anc290
#Reference_species: DROSOPHILA_MOJAVENSIS
#Annotated_species: DROSOPHILA_MOJAVENSIS
#Outgroup_species: DROSOPHILA_HAMATOFILA

*DROSOPHILA_HAMATOFILA /ceph/users/pdhakad/CAT_genomes/Drosophila_hamatofila.nanopore.rm.fna
DROSOPHILA_ALDRICHI /ceph/users/pdhakad/CAT_genomes/Drosophila_aldrichi.nanopore.rm.fna
DROSOPHILA_MULLERI /ceph/users/pdhakad/CAT_genomes/Drosophila_mulleri.nanopore.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
*DROSOPHILA_MAYAGUANA /ceph/users/pdhakad/CAT_genomes/Drosophila_mayaguana.nanopore.rm.fna
