(DROSOPHILA_METTLERI:0.045315,(DROSOPHILA_EOHYDEI:0.009103,DROSOPHILA_HYDEI:0.008548)Anc258:0.045315);

#Root: Anc258
#Reference_species: DROSOPHILA_HYDEI
#Annotated_species: DROSOPHILA_HYDEI
#Outgroup_species: DROSOPHILA_METTLERI

*DROSOPHILA_METTLERI /ceph/users/pdhakad/CAT_genomes/Drosophila_mettleri.nanopore.rm.fna
*DROSOPHILA_EOHYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_eohydei.nanopore.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
