(DROSOPHILA_REPLETOIDES:0.065137,((DROSOPHILA_GRIMSHAWI:0.005389,(DROSOPHILA_VIRILIS:0.014361,(DROSOPHILA_MOJAVENSIS:0.007614,DROSOPHILA_HYDEI:0.008548)Anc168:0.02698)Anc66:0.015852)Anc36:0.025257,((((HIRTODROSOPHILA_CONFUSA:0.020318,HIRTODROSOPHILA_HISTRIOIDES:0.018159)Anc89:0.051447,HIRTODROSOPHILA_ALBORALIS:0.082717)Anc68:0.010794,HIRTODROSOPHILA_CAMERARIA:0.100007)Anc49:0.018252,HIRTODROSOPHILA_TRIVITTATA:0.140027)Anc37:0.010071)Anc29:0.065137);

#Root: Anc29
#Reference_species: DROSOPHILA_VIRILIS
#Annotated_species: DROSOPHILA_GRIMSHAWI, DROSOPHILA_MOJAVENSIS, DROSOPHILA_HYDEI, DROSOPHILA_VIRILIS
#Outgroup_species: DROSOPHILA_REPLETOIDES

*DROSOPHILA_REPLETOIDES /ceph/users/pdhakad/CAT_genomes/Drosophila_repletoides.GCA_018150835.1.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_VIRILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_virilis.GCF_003285735.1.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
HIRTODROSOPHILA_CONFUSA /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_confusa.nanopore.rm.fna
HIRTODROSOPHILA_HISTRIOIDES /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_histrioides.nanopore.rm.fna
HIRTODROSOPHILA_ALBORALIS /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_alboralis.nanopore.rm.fna
*HIRTODROSOPHILA_CAMERARIA /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_cameraria.GCA_949708635.1.rm.fna
HIRTODROSOPHILA_TRIVITTATA /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_trivittata.nanopore.rm.fna
