(DROSOPHILA_TEISSIERI:0.01338,(DROSOPHILA_ERECTA:0.013766,DROSOPHILA_ORENA:0.017854)Anc239:0.01338);

#Root: Anc239
#Reference_species: DROSOPHILA_ERECTA
#Annotated_species: DROSOPHILA_ERECTA
#Outgroup_species: DROSOPHILA_TEISSIERI

*DROSOPHILA_TEISSIERI /ceph/users/pdhakad/CAT_genomes/Drosophila_teissieri.GCF_016746235.2.rm.fna
*DROSOPHILA_ERECTA /ceph/users/pdhakad/CAT_genomes/Drosophila_erecta.GCF_003286155.1.rm.fna
DROSOPHILA_ORENA /ceph/users/pdhakad/CAT_genomes/Drosophila_orena.GCA_005876975.1.rm.fna
