(DROSOPHILA_METTLERI:0.034645,(DROSOPHILA_PEGASA:0.048117,DROSOPHILA_HYDEI:0.008548)Anc230:0.034645);

#Root: Anc230
#Reference_species: DROSOPHILA_HYDEI
#Annotated_species: DROSOPHILA_HYDEI
#Outgroup_species: DROSOPHILA_METTLERI

*DROSOPHILA_METTLERI /ceph/users/pdhakad/CAT_genomes/Drosophila_mettleri.nanopore.rm.fna
DROSOPHILA_PEGASA /ceph/users/pdhakad/CAT_genomes/Drosophila_pegasa.nanopore.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
