(DROSOPHILA_HISTRIO:0.038886,(DROSOPHILA_PHALERATA:0.022805,DROSOPHILA_INNUBILA:0.017164)Anc260:0.038886);

#Root: Anc260
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_HISTRIO

*DROSOPHILA_HISTRIO /ceph/users/pdhakad/CAT_genomes/Drosophila_histrio.GCA_958299025.2.rm.fna
*DROSOPHILA_PHALERATA /ceph/users/pdhakad/CAT_genomes/Drosophila_phalerata.GCA_951394115.2.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
