(DROSOPHILA_HISTRIO:0.0330365,(DROSOPHILA_KUNTZEI:0.033455,DROSOPHILA_INNUBILA:0.017164)Anc232:0.0330365);

#Root: Anc232
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_HISTRIO

*DROSOPHILA_HISTRIO /ceph/users/pdhakad/CAT_genomes/Drosophila_histrio.GCA_958299025.2.rm.fna
DROSOPHILA_KUNTZEI /ceph/users/pdhakad/CAT_genomes/Drosophila_kuntzei.nanopore.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
