(SCAPTOMYZA_PARVA:0.061343,(DROSOPHILA_GRIMSHAWI:0.005389,((((((DROSOPHILA_SORDIDAPEX:0.003456,DROSOPHILA_CONFORMIS:0.003685)Anc308:0.002321,DROSOPHILA_INCOGNITA:0.006223)Anc301:0.003886,(DROSOPHILA_PERCNOSOMA:0.004884,DROSOPHILA_NEUTRALIS:0.003912)Anc302:0.004457)Anc295:0.002832,DROSOPHILA_TRICHAETOSA:0.009539)Anc283:0.000995,DROSOPHILA_ATROSCUTELLATA:0.013112)Anc267:0.001006,DROSOPHILA_IMPARISETAE:0.010563)Anc246:0.000757)Anc84:0.061343);

#Root: Anc84
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Intron_bam: DROSOPHILA_IMPARISETAE;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_TRICHAETOSA;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_INCOGNITA;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_PERCNOSOMA;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_NEUTRALIS;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_SORDIDAPEX;DROSOPHILA_ATROSCUTELLATA, DROSOPHILA_CONFORMIS;DROSOPHILA_ATROSCUTELLATA
#Outgroup_species: SCAPTOMYZA_PARVA

*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_SORDIDAPEX /ceph/users/pdhakad/CAT_genomes/Drosophila_sordidapex.nanopore.rm.fna
DROSOPHILA_CONFORMIS /ceph/users/pdhakad/CAT_genomes/Drosophila_conformis.nanopore.rm.fna
DROSOPHILA_INCOGNITA /ceph/users/pdhakad/CAT_genomes/Drosophila_incognita.nanopore.rm.fna
DROSOPHILA_PERCNOSOMA /ceph/users/pdhakad/CAT_genomes/Drosophila_percnosoma.nanopore.rm.fna
DROSOPHILA_NEUTRALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_neutralis.nanopore.rm.fna
DROSOPHILA_TRICHAETOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_trichaetosa.nanopore.rm.fna
*DROSOPHILA_ATROSCUTELLATA /ceph/users/pdhakad/CAT_genomes/Drosophila_atroscutellata.nanopore.rm.fna
DROSOPHILA_IMPARISETAE /ceph/users/pdhakad/CAT_genomes/Drosophila_imparisetae.nanopore.rm.fna
