(DROSOPHILA_MERIDIONALIS:0.0057165,((DROSOPHILA_HAMATOFILA:0.027616,DROSOPHILA_MOJAVENSIS:0.007614)Anc276:0.007861,((DROSOPHILA_BUZZATII:0.019059,DROSOPHILA_KOEPFERAE:0.017191)Anc291:0.005215,DROSOPHILA_STALKERI:0.018192)Anc277:0.026887)Anc254:0.0057165);

#Root: Anc254
#Reference_species: DROSOPHILA_MOJAVENSIS
#Annotated_species: DROSOPHILA_MOJAVENSIS
#Outgroup_species: DROSOPHILA_MERIDIONALIS

*DROSOPHILA_MERIDIONALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_meridionalis.nanopore.rm.fna
*DROSOPHILA_HAMATOFILA /ceph/users/pdhakad/CAT_genomes/Drosophila_hamatofila.nanopore.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_BUZZATII /ceph/users/pdhakad/CAT_genomes/Drosophila_buzzatii.nanopore.rm.fna
DROSOPHILA_KOEPFERAE /ceph/users/pdhakad/CAT_genomes/Drosophila_koepferae.GCA_023375715.1.rm.fna
*DROSOPHILA_STALKERI /ceph/users/pdhakad/CAT_genomes/Drosophila_stalkeri.nanopore.rm.fna
