(DROSOPHILA_MIMETICA:0.014496,(DROSOPHILA_TAKAHASHII:0.022784,DROSOPHILA_LUTESCENS:0.015166)Anc241:0.014496);

#Root: Anc241
#Reference_species: DROSOPHILA_TAKAHASHII
#Annotated_species: DROSOPHILA_TAKAHASHII
#Outgroup_species: DROSOPHILA_MIMETICA

*DROSOPHILA_MIMETICA /ceph/users/pdhakad/CAT_genomes/Drosophila_mimetica.nanopore.rm.fna
*DROSOPHILA_TAKAHASHII /ceph/users/pdhakad/CAT_genomes/Drosophila_takahashii.GCF_018152695.1.rm.fna
DROSOPHILA_LUTESCENS /ceph/users/pdhakad/CAT_genomes/Drosophila_lutescens.nanopore.rm.fna
