(DROSOPHILA_PSEUDOOBSCURA:0.0196505,((((((LORDIPHOSA_CLAROFINIS:0.004354,LORDIPHOSA_SP_2_AFF_CLAROFINIS:0.002676)Anc104:0.004893,LORDIPHOSA_SP_3:0.008561)Anc82:0.027179,LORDIPHOSA_MAGNIPECTINATA:0.026491)Anc62:0.019068,((LORDIPHOSA_FENESTRARUM:0.015886,LORDIPHOSA_ANDALUSIACA:0.018653)Anc83:0.020137,LORDIPHOSA_COLLINELLA:0.030896)Anc63:0.014864)Anc45:0.017994,LORDIPHOSA_MOMMAI:0.053514)Anc34:0.080034,DROSOPHILA_WILLISTONI:0.0159)Anc26:0.0196505);

#Root: Anc26
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_PSEUDOOBSCURA

*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
LORDIPHOSA_CLAROFINIS /ceph/users/pdhakad/CAT_genomes/Lordiphosa_clarofinis.GCA_018904275.1.rm.fna
LORDIPHOSA_SP_2_AFF_CLAROFINIS /ceph/users/pdhakad/CAT_genomes/Lordiphosa_sp_2_aff_clarofinis.nanopore.rm.fna
LORDIPHOSA_SP_3 /ceph/users/pdhakad/CAT_genomes/Lordiphosa_sp_3.nanopore.rm.fna
LORDIPHOSA_MAGNIPECTINATA /ceph/users/pdhakad/CAT_genomes/Lordiphosa_magnipectinata.GCA_018904285.1.rm.fna
LORDIPHOSA_FENESTRARUM /ceph/users/pdhakad/CAT_genomes/Lordiphosa_fenestrarum.nanopore.rm.fna
LORDIPHOSA_ANDALUSIACA /ceph/users/pdhakad/CAT_genomes/Lordiphosa_andalusiaca.nanopore.rm.fna
LORDIPHOSA_COLLINELLA /ceph/users/pdhakad/CAT_genomes/Lordiphosa_collinella.GCA_018904265.1.rm.fna
LORDIPHOSA_MOMMAI /ceph/users/pdhakad/CAT_genomes/Lordiphosa_mommai.GCA_018904225.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
