(SCAPTOMYZA_PARVA:0.061343,(DROSOPHILA_GRIMSHAWI:0.005389,(((DROSOPHILA_KUIA:0.009357,DROSOPHILA_KUPEE:0.007091)Anc284:0.003151,DROSOPHILA_SECLUSA:0.010109)Anc268:0.001446,(DROSOPHILA_NIGRITARSUS:0.010771,DROSOPHILA_NR_MEDIALIS:0.012573)Anc269:0.001162)Anc247:0.000536)Anc84:0.061343);

#Root: Anc84
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Intron_bam: 
#Outgroup_species: SCAPTOMYZA_PARVA

*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
DROSOPHILA_KUIA /ceph/users/pdhakad/CAT_genomes/Drosophila_kuia.nanopore.rm.fna
DROSOPHILA_KUPEE /ceph/users/pdhakad/CAT_genomes/Drosophila_kupee.nanopore.rm.fna
DROSOPHILA_SECLUSA /ceph/users/pdhakad/CAT_genomes/Drosophila_seclusa.nanopore.rm.fna
DROSOPHILA_NIGRITARSUS /ceph/users/pdhakad/CAT_genomes/Drosophila_nigritarsus.nanopore.rm.fna
DROSOPHILA_NR_MEDIALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_nr_medialis.nanopore.rm.fna
