(DROSOPHILA_PHALERATA:0.015242,(DROSOPHILA_FALLENI:0.022431,DROSOPHILA_INNUBILA:0.017164)Anc280:0.015242);

#Root: Anc280
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_PHALERATA

*DROSOPHILA_PHALERATA /ceph/users/pdhakad/CAT_genomes/Drosophila_phalerata.GCA_951394115.2.rm.fna
DROSOPHILA_FALLENI /ceph/users/pdhakad/CAT_genomes/Drosophila_falleni.nanopore.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
