(DROSOPHILA_HISTRIO:0.0364965,((((((DROSOPHILA_SUBQUINARIA:0.010904,DROSOPHILA_RECENS:0.012243)Anc300:0.008676,DROSOPHILA_SUBOCCIDENTALIS:0.014241)Anc293:0.003735,DROSOPHILA_QUINARIA:0.023291)Anc279:0.002797,DROSOPHILA_GUTTIFERA:0.040359)Anc259:0.015016,DROSOPHILA_RELLIMA:0.033163)Anc231:0.016585,DROSOPHILA_INNUBILA:0.017164)Anc202:0.0364965);

#Root: Anc202
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_HISTRIO

*DROSOPHILA_HISTRIO /ceph/users/pdhakad/CAT_genomes/Drosophila_histrio.GCA_958299025.2.rm.fna
DROSOPHILA_SUBQUINARIA /ceph/users/pdhakad/CAT_genomes/Drosophila_subquinaria.nanopore.rm.fna
DROSOPHILA_RECENS /ceph/users/pdhakad/CAT_genomes/Drosophila_recens.nanopore.rm.fna
DROSOPHILA_SUBOCCIDENTALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_suboccidentalis.nanopore.rm.fna
DROSOPHILA_QUINARIA /ceph/users/pdhakad/CAT_genomes/Drosophila_quinaria.nanopore.rm.fna
DROSOPHILA_GUTTIFERA /ceph/users/pdhakad/CAT_genomes/Drosophila_guttifera.nanopore.rm.fna
DROSOPHILA_RELLIMA /ceph/users/pdhakad/CAT_genomes/Drosophila_rellima.nanopore.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
