(DROSOPHILA_SULFURIGASTER_ALBOSTRIGATA:0.004099,((DROSOPHILA_NASUTA:0.005097,DROSOPHILA_ALBOMICANS:0.005533)Anc282:0.00145,DROSOPHILA_KEPULAUANA:0.006552)Anc263:0.004099);

#Root: Anc263
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_SULFURIGASTER_ALBOSTRIGATA

*DROSOPHILA_SULFURIGASTER_ALBOSTRIGATA /ceph/users/pdhakad/CAT_genomes/Drosophila_sulfurigaster_albostrigata.GCA_023558435.1.rm.fna
*DROSOPHILA_NASUTA /ceph/users/pdhakad/CAT_genomes/Drosophila_nasuta.GCA_023558535.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
*DROSOPHILA_KEPULAUANA /ceph/users/pdhakad/CAT_genomes/Drosophila_kepulauana.GCA_023558455.1.rm.fna
