(DROSOPHILA_PROLONGATA:0.0048535,(DROSOPHILA_CARROLLI:0.008894,DROSOPHILA_RHOPALOA:0.006638)Anc216:0.0048535);

#Root: Anc216
#Reference_species: DROSOPHILA_RHOPALOA
#Annotated_species: DROSOPHILA_RHOPALOA
#Outgroup_species: DROSOPHILA_PROLONGATA

*DROSOPHILA_PROLONGATA /ceph/users/pdhakad/CAT_genomes/Drosophila_prolongata.nanopore.rm.fna
*DROSOPHILA_CARROLLI /ceph/users/pdhakad/CAT_genomes/Drosophila_carrolli.GCA_018152295.1.rm.fna
*DROSOPHILA_RHOPALOA /ceph/users/pdhakad/CAT_genomes/Drosophila_rhopaloa.GCF_018152115.1.rm.fna
