(DROSOPHILA_PSEUDOOBSCURA:0.0555975,(((((DROSOPHILA_PROSALTANS:0.002566,DROSOPHILA_AUSTROSALTANS:0.002445)Anc103:0.001482,DROSOPHILA_SALTANS:0.003101)Anc80:0.02973,(DROSOPHILA_EMARGINATA:0.033715,DROSOPHILA_NEOCORDATA:0.03689)Anc81:0.004611)Anc61:0.008094,DROSOPHILA_STURTEVANTI:0.046164)Anc44:0.032183,DROSOPHILA_WILLISTONI:0.0159)Anc33:0.0555975);

#Root: Anc33
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_PSEUDOOBSCURA

*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
DROSOPHILA_PROSALTANS /ceph/users/pdhakad/CAT_genomes/Drosophila_prosaltans.GCA_018151275.1.rm.fna
*DROSOPHILA_AUSTROSALTANS /ceph/users/pdhakad/CAT_genomes/Drosophila_austrosaltans.nanopore.rm.fna
DROSOPHILA_SALTANS /ceph/users/pdhakad/CAT_genomes/Drosophila_saltans.GCA_018903575.1.rm.fna
DROSOPHILA_EMARGINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_emarginata.nanopore.rm.fna
DROSOPHILA_NEOCORDATA /ceph/users/pdhakad/CAT_genomes/Drosophila_neocordata.GCA_018903615.1.rm.fna
DROSOPHILA_STURTEVANTI /ceph/users/pdhakad/CAT_genomes/Drosophila_sturtevanti.GCA_018150375.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
