(DROSOPHILA_MAYAGUANA:0.013916,((DROSOPHILA_ARIZONAE:0.012752,DROSOPHILA_MOJAVENSIS:0.007614)Anc310:0.009644,DROSOPHILA_NAVOJOA:0.022368)Anc305:0.013916);

#Root: Anc305
#Reference_species: DROSOPHILA_MOJAVENSIS
#Annotated_species: DROSOPHILA_ARIZONAE, DROSOPHILA_MOJAVENSIS
#Outgroup_species: DROSOPHILA_MAYAGUANA

*DROSOPHILA_MAYAGUANA /ceph/users/pdhakad/CAT_genomes/Drosophila_mayaguana.nanopore.rm.fna
*DROSOPHILA_ARIZONAE /ceph/users/pdhakad/CAT_genomes/Drosophila_arizonae.GCF_001654025.1.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_NAVOJOA /ceph/users/pdhakad/CAT_genomes/Drosophila_navojoa.GCF_001654015.2.rm.fna
