(DROSOPHILA_PSEUDOOBSCURA:0.032895,((DROSOPHILA_KIKKAWAI:0.007668,(DROSOPHILA_RHOPALOA:0.006638,((DROSOPHILA_ERECTA:0.013766,DROSOPHILA_MELANOGASTER:0.015924)Anc180:0.03816,DROSOPHILA_TAKAHASHII:0.022784)Anc118:0.009039)Anc72:0.01715)Anc39:0.018283,(DROSOPHILA_SETIFEMUR:0.098449,(DROSOPHILA_BIPECTINATA:0.00726,DROSOPHILA_ANANASSAE:0.003202)Anc97:0.020178)Anc40:0.022561)Anc31:0.032895);

#Root: Anc31
#Reference_species: DROSOPHILA_MELANOGASTER
#Annotated_species: DROSOPHILA_KIKKAWAI, DROSOPHILA_RHOPALOA, DROSOPHILA_BIPECTINATA, DROSOPHILA_ANANASSAE, DROSOPHILA_TAKAHASHII, DROSOPHILA_ERECTA, DROSOPHILA_MELANOGASTER
#Outgroup_species: DROSOPHILA_PSEUDOOBSCURA

*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
*DROSOPHILA_RHOPALOA /ceph/users/pdhakad/CAT_genomes/Drosophila_rhopaloa.GCF_018152115.1.rm.fna
*DROSOPHILA_ERECTA /ceph/users/pdhakad/CAT_genomes/Drosophila_erecta.GCF_003286155.1.rm.fna
*DROSOPHILA_MELANOGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_melanogaster.GCF_000001215.4.rm.fna
*DROSOPHILA_TAKAHASHII /ceph/users/pdhakad/CAT_genomes/Drosophila_takahashii.GCF_018152695.1.rm.fna
*DROSOPHILA_SETIFEMUR /ceph/users/pdhakad/CAT_genomes/Drosophila_setifemur.GCA_021224005.1.rm.fna
*DROSOPHILA_BIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bipectinata.GCF_018153845.1.rm.fna
*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
