(DROSOPHILA_REPLETOIDES:0.067938,(((ZAPRIONUS_BOGORIENSIS:0.090201,ZAPRIONUS_ORNATUS:0.024367)Anc70:0.044081,(HYPSELOTHYREA_GUTTATA:0.113361,LIODROSOPHILA_AEREA:0.081597)Anc71:0.070437)Anc51:0.015325,(DROSOPHILA_ALBOMICANS:0.005533,DROSOPHILA_INNUBILA:0.017164)Anc69:0.017683)Anc38:0.067938);

#Root: Anc38
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_INNUBILA, DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_REPLETOIDES

*DROSOPHILA_REPLETOIDES /ceph/users/pdhakad/CAT_genomes/Drosophila_repletoides.GCA_018150835.1.rm.fna
ZAPRIONUS_BOGORIENSIS /ceph/users/pdhakad/CAT_genomes/Zaprionus_bogoriensis.nanopore.rm.fna
*ZAPRIONUS_ORNATUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_ornatus.GCA_018904035.1.rm.fna
HYPSELOTHYREA_GUTTATA /ceph/users/pdhakad/CAT_genomes/Hypselothyrea_guttata.nanopore.rm.fna
LIODROSOPHILA_AEREA /ceph/users/pdhakad/CAT_genomes/Liodrosophila_aerea.nanopore.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
