(DROSOPHILA_CRUCIGERA:0.0059625,(DROSOPHILA_PULLIPES:0.008455,DROSOPHILA_GRIMSHAWI:0.005389)Anc304:0.0059625);

#Root: Anc304
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Outgroup_species: DROSOPHILA_CRUCIGERA

*DROSOPHILA_CRUCIGERA /ceph/users/pdhakad/CAT_genomes/Drosophila_crucigera.nanopore.rm.fna
DROSOPHILA_PULLIPES /ceph/users/pdhakad/CAT_genomes/Drosophila_pullipes.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
