(HIRTODROSOPHILA_CAMERARIA:0.062632,((((DROSOPHILA_PSEUDOTALAMANCANA:0.087104,(DROSOPHILA_MOJAVENSIS:0.007614,DROSOPHILA_HYDEI:0.008548)Anc168:0.02698)Anc86:0.02282,DROSOPHILA_VIRILIS:0.014361)Anc66:0.015852,(((DROSOPHILA_PARAMELANICA:0.028575,DROSOPHILA_MICROMELANICA:0.027931)Anc111:0.029463,(DROSOPHILA_SORDIDULA:0.048281,DROSOPHILA_COLORATA:0.041248)Anc112:0.005791)Anc88:0.016225,DROSOPHILA_LACERTOSA:0.075336)Anc67:0.026347)Anc48:0.016728,DROSOPHILA_GRIMSHAWI:0.005389)Anc36:0.062632);

#Root: Anc36
#Reference_species: DROSOPHILA_VIRILIS
#Annotated_species: DROSOPHILA_GRIMSHAWI, DROSOPHILA_MOJAVENSIS, DROSOPHILA_HYDEI, DROSOPHILA_VIRILIS
#Outgroup_species: HIRTODROSOPHILA_CAMERARIA

*HIRTODROSOPHILA_CAMERARIA /ceph/users/pdhakad/CAT_genomes/Hirtodrosophila_cameraria.GCA_949708635.1.rm.fna
DROSOPHILA_PSEUDOTALAMANCANA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudotalamancana.nanopore.rm.fna
*DROSOPHILA_MOJAVENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_mojavensis.GCF_018153725.1.rm.fna
DROSOPHILA_HYDEI /ceph/users/pdhakad/CAT_genomes/Drosophila_hydei.GCF_003285905.1.rm.fna
DROSOPHILA_VIRILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_virilis.GCF_003285735.1.rm.fna
DROSOPHILA_PARAMELANICA /ceph/users/pdhakad/CAT_genomes/Drosophila_paramelanica.nanopore.rm.fna
DROSOPHILA_MICROMELANICA /ceph/users/pdhakad/CAT_genomes/Drosophila_micromelanica.GCA_004143825.1.rm.fna
DROSOPHILA_SORDIDULA /ceph/users/pdhakad/CAT_genomes/Drosophila_sordidula.nanopore.rm.fna
DROSOPHILA_COLORATA /ceph/users/pdhakad/CAT_genomes/Drosophila_colorata.nanopore.rm.fna
DROSOPHILA_LACERTOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_lacertosa.GCA_004143845.1.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
