(DROSOPHILA_AUSTROSALTANS:0.013678,((DROSOPHILA_SUCINEA:0.002399,'DROSOPHILA_SP._14030-0761.01':0.002296)Anc60:0.041488,DROSOPHILA_WILLISTONI:0.0159)Anc43:0.013678);

#Root: Anc43
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_AUSTROSALTANS

*DROSOPHILA_AUSTROSALTANS /ceph/users/pdhakad/CAT_genomes/Drosophila_austrosaltans.nanopore.rm.fna
DROSOPHILA_SUCINEA /ceph/users/pdhakad/CAT_genomes/Drosophila_sucinea.GCA_018150745.1.rm.fna
*DROSOPHILA_SP._14030-0761.01 /ceph/users/pdhakad/CAT_genomes/Drosophila_sp._14030-0761.01.GCA_018150735.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
