(DROSOPHILA_PACHEA:0.0298495,((DROSOPHILA_FLAVOPINICOLA:0.070016,DROSOPHILA_MACULINOTATA:0.068844)Anc65:0.016107,DROSOPHILA_GRIMSHAWI:0.005389)Anc47:0.0298495);

#Root: Anc47
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Outgroup_species: DROSOPHILA_PACHEA

*DROSOPHILA_PACHEA /ceph/users/pdhakad/CAT_genomes/Drosophila_pachea.GCA_020883565.1.rm.fna
DROSOPHILA_FLAVOPINICOLA /ceph/users/pdhakad/CAT_genomes/Drosophila_flavopinicola.nanopore.rm.fna
DROSOPHILA_MACULINOTATA /ceph/users/pdhakad/CAT_genomes/Drosophila_maculinotata.nanopore.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
