(DROSOPHILA_SUBOBSCURA:0.011623,(((((DROSOPHILA_ATHABASCA:0.007698,DROSOPHILA_ALGONQUIN:0.011554)Anc128:0.002003,DROSOPHILA_AFFINIS:0.012357)Anc100:0.004054,DROSOPHILA_AZTECA:0.016392)Anc77:0.012984,DROSOPHILA_HELVETICA:0.02582)Anc56:0.010491,DROSOPHILA_PSEUDOOBSCURA:0.002588)Anc41:0.011623);

#Root: Anc41
#Reference_species: DROSOPHILA_PSEUDOOBSCURA
#Annotated_species: DROSOPHILA_PSEUDOOBSCURA
#Outgroup_species: DROSOPHILA_SUBOBSCURA

*DROSOPHILA_SUBOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_subobscura.GCF_008121235.1.rm.fna
*DROSOPHILA_ATHABASCA /ceph/users/pdhakad/CAT_genomes/Drosophila_athabasca.GCA_008121215.1.rm.fna
DROSOPHILA_ALGONQUIN /ceph/users/pdhakad/CAT_genomes/Drosophila_algonquin.nanopore.rm.fna
DROSOPHILA_AFFINIS /ceph/users/pdhakad/CAT_genomes/Drosophila_affinis.nanopore.rm.fna
*DROSOPHILA_AZTECA /ceph/users/pdhakad/CAT_genomes/Drosophila_azteca.GCA_005876895.1.rm.fna
DROSOPHILA_HELVETICA /ceph/users/pdhakad/CAT_genomes/Drosophila_helvetica.nanopore.rm.fna
*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
