(DROSOPHILA_RHOPALOA:0.0289345,((DROSOPHILA_KANAPIAE:0.050072,DROSOPHILA_KIKKAWAI:0.007668)Anc73:0.007787,(((((DROSOPHILA_ASAHINAI:0.006226,DROSOPHILA_LACTEICORNIS:0.006747)Anc186:0.002554,DROSOPHILA_RUFA:0.007118)Anc154:0.004675,DROSOPHILA_TANI:0.01445)Anc123:0.013223,DROSOPHILA_TRIAURARIA:0.026503)Anc96:0.011905,DROSOPHILA_PECTINIFERA:0.032355)Anc74:0.008913)Anc53:0.0289345);

#Root: Anc53
#Reference_species: DROSOPHILA_KIKKAWAI
#Annotated_species: DROSOPHILA_KIKKAWAI
#Outgroup_species: DROSOPHILA_RHOPALOA

*DROSOPHILA_RHOPALOA /ceph/users/pdhakad/CAT_genomes/Drosophila_rhopaloa.GCF_018152115.1.rm.fna
DROSOPHILA_KANAPIAE /ceph/users/pdhakad/CAT_genomes/Drosophila_kanapiae.GCA_008042475.1.rm.fna
*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
DROSOPHILA_ASAHINAI /ceph/users/pdhakad/CAT_genomes/Drosophila_asahinai.GCA_008042795.1.rm.fna
DROSOPHILA_LACTEICORNIS /ceph/users/pdhakad/CAT_genomes/Drosophila_lacteicornis.GCA_008044355.1.rm.fna
*DROSOPHILA_RUFA /ceph/users/pdhakad/CAT_genomes/Drosophila_rufa.GCA_018153105.1.rm.fna
DROSOPHILA_TANI /ceph/users/pdhakad/CAT_genomes/Drosophila_tani.GCA_008042535.1.rm.fna
*DROSOPHILA_TRIAURARIA /ceph/users/pdhakad/CAT_genomes/Drosophila_triauraria.GCA_014170255.2.rm.fna
DROSOPHILA_PECTINIFERA /ceph/users/pdhakad/CAT_genomes/Drosophila_pectinifera.GCA_008042775.1.rm.fna
