(DROSOPHILA_SUBOBSCURA:0.0089535,((DROSOPHILA_SUBSILVESTRIS:0.028693,DROSOPHILA_OBSCURA:0.013151)Anc78:0.009064,DROSOPHILA_BIFASCIATA:0.038604)Anc57:0.0089535);

#Root: Anc57
#Reference_species: DROSOPHILA_OBSCURA
#Annotated_species: DROSOPHILA_OBSCURA
#Outgroup_species: DROSOPHILA_SUBOBSCURA

*DROSOPHILA_SUBOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_subobscura.GCF_008121235.1.rm.fna
DROSOPHILA_SUBSILVESTRIS /ceph/users/pdhakad/CAT_genomes/Drosophila_subsilvestris.nanopore.rm.fna
DROSOPHILA_OBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_obscura.GCF_018151105.1.rm.fna
*DROSOPHILA_BIFASCIATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bifasciata.GCA_009664405.1.rm.fna
