(DROSOPHILA_AUSTROSALTANS:0.0060985,(DROSOPHILA_NEBULOSA:0.049693,DROSOPHILA_WILLISTONI:0.0159)Anc59:0.0060985);

#Root: Anc59
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_AUSTROSALTANS

*DROSOPHILA_AUSTROSALTANS /ceph/users/pdhakad/CAT_genomes/Drosophila_austrosaltans.nanopore.rm.fna
*DROSOPHILA_NEBULOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_nebulosa.GCA_024703675.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
