(DROSOPHILA_KIKKAWAI:0.0170625,(((((DROSOPHILA_ERECTA:0.013766,DROSOPHILA_MELANOGASTER:0.015924)Anc180:0.03816,DROSOPHILA_TAKAHASHII:0.022784)Anc118:0.009039,DROSOPHILA_FICUSPHILA:0.06769)Anc93:0.003604,DROSOPHILA_RHOPALOA:0.006638)Anc72:0.01715,DROSOPHILA_OSHIMAI:0.058077)Anc52:0.0170625);

#Root: Anc52
#Reference_species: DROSOPHILA_MELANOGASTER
#Annotated_species: DROSOPHILA_RHOPALOA, DROSOPHILA_FICUSPHILA, DROSOPHILA_TAKAHASHII, DROSOPHILA_ERECTA, DROSOPHILA_MELANOGASTER
#Outgroup_species: DROSOPHILA_KIKKAWAI

*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
*DROSOPHILA_ERECTA /ceph/users/pdhakad/CAT_genomes/Drosophila_erecta.GCF_003286155.1.rm.fna
*DROSOPHILA_MELANOGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_melanogaster.GCF_000001215.4.rm.fna
*DROSOPHILA_TAKAHASHII /ceph/users/pdhakad/CAT_genomes/Drosophila_takahashii.GCF_018152695.1.rm.fna
DROSOPHILA_FICUSPHILA /ceph/users/pdhakad/CAT_genomes/Drosophila_ficusphila.GCF_018152265.1.rm.fna
*DROSOPHILA_RHOPALOA /ceph/users/pdhakad/CAT_genomes/Drosophila_rhopaloa.GCF_018152115.1.rm.fna
DROSOPHILA_OSHIMAI /ceph/users/pdhakad/CAT_genomes/Drosophila_oshimai.GCA_018150695.1.rm.fna
