(DROSOPHILA_AZTECA:0.0153255,(DROSOPHILA_LOWEI:0.013433,DROSOPHILA_PSEUDOOBSCURA:0.002588)Anc55:0.0153255);

#Root: Anc55
#Reference_species: DROSOPHILA_PSEUDOOBSCURA
#Annotated_species: DROSOPHILA_PSEUDOOBSCURA
#Outgroup_species: DROSOPHILA_AZTECA

*DROSOPHILA_AZTECA /ceph/users/pdhakad/CAT_genomes/Drosophila_azteca.GCA_005876895.1.rm.fna
*DROSOPHILA_LOWEI /ceph/users/pdhakad/CAT_genomes/Drosophila_lowei.GCA_008121275.1.rm.fna
*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
