(ZAPRIONUS_ORNATUS:0.0203245,((DROSOPHILA_ALBOMICANS:0.005533,DROSOPHILA_INNUBILA:0.017164)Anc69:0.017683,DROSOPHILA_QUADRILINEATA:0.171959)Anc50:0.0203245);

#Root: Anc50
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_INNUBILA, DROSOPHILA_ALBOMICANS
#Outgroup_species: ZAPRIONUS_ORNATUS

*ZAPRIONUS_ORNATUS /ceph/users/pdhakad/CAT_genomes/Zaprionus_ornatus.GCA_018904035.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
*DROSOPHILA_QUADRILINEATA /ceph/users/pdhakad/CAT_genomes/Drosophila_quadrilineata.GCA_018150725.1.rm.fna
