(DROSOPHILA_PACHEA:0.0312085,((((((((SCAPTOMYZA_CYRTANDRAE:0.022328,SCAPTOMYZA_TUMIDULA:0.024421)Anc253:0.014704,SCAPTOMYZA_REDUCTA:0.040626)Anc227:0.019621,SCAPTOMYZA_PALLIDA:0.048982)Anc197:0.003828,SCAPTOMYZA_PARVA:0.062693)Anc166:0.003803,SCAPTOMYZA_CALIGINOSA:0.051779)Anc134:0.002935,(((SCAPTOMYZA_MONTANA:0.012069,SCAPTOMYZA_FLAVA:0.01562)Anc198:0.01745,SCAPTOMYZA_GRAMINUM:0.037689)Anc167:0.004508,SCAPTOMYZA_POLYGONIA:0.043339)Anc135:0.026129)Anc107:0.005965,SCAPTOMYZA_HSUI:0.047899)Anc85:0.032601,DROSOPHILA_GRIMSHAWI:0.005389)Anc64:0.0312085);

#Root: Anc64
#Reference_species: DROSOPHILA_GRIMSHAWI
#Annotated_species: DROSOPHILA_GRIMSHAWI
#Outgroup_species: DROSOPHILA_PACHEA

*DROSOPHILA_PACHEA /ceph/users/pdhakad/CAT_genomes/Drosophila_pachea.GCA_020883565.1.rm.fna
*SCAPTOMYZA_CYRTANDRAE /ceph/users/pdhakad/CAT_genomes/Scaptomyza_cyrtandrae.nanopore.rm.fna
SCAPTOMYZA_TUMIDULA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_tumidula.nanopore.rm.fna
SCAPTOMYZA_REDUCTA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_reducta.nanopore.rm.fna
SCAPTOMYZA_PALLIDA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_pallida.GCA_018152965.1.rm.fna
*SCAPTOMYZA_PARVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_parva.nanopore.rm.fna
SCAPTOMYZA_CALIGINOSA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_caliginosa.nanopore.rm.fna
SCAPTOMYZA_MONTANA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_montana.GCA_018904305.1.rm.fna
*SCAPTOMYZA_FLAVA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_flava.GCA_030179655.1.rm.fna
*SCAPTOMYZA_GRAMINUM /ceph/users/pdhakad/CAT_genomes/Scaptomyza_graminum.GCA_018901835.1.rm.fna
SCAPTOMYZA_POLYGONIA /ceph/users/pdhakad/CAT_genomes/Scaptomyza_polygonia.nanopore.rm.fna
SCAPTOMYZA_HSUI /ceph/users/pdhakad/CAT_genomes/Scaptomyza_hsui.GCA_018152825.1.rm.fna
*DROSOPHILA_GRIMSHAWI /ceph/users/pdhakad/CAT_genomes/Drosophila_grimshawi.GCF_018153295.1.rm.fna
