(ANASTREPHA_LUDENS:0.230405,((((((AMIOTA_COMMUNIS:0.046791,AMIOTA_MARIAE:0.049637)Anc28:0.00977,AMIOTA_MINOR:0.055065)Anc22:0.16822,CACOXENUS_INDAGATOR:0.228208)Anc17:0.036797,((LEUCOPHENGA_MONTANA:0.057838,LEUCOPHENGA_MACULATA:0.063731)Anc23:0.040678,LEUCOPHENGA_VARIA:0.109865)Anc18:0.118031)Anc11:0.020204,STEGANA_NIGRITHORAX:0.231721)Anc6:0.068781,DROSOPHILA_MELANOGASTER:0.015924)Anc3:0.230405);

#Root: Anc3
#Reference_species: DROSOPHILA_MELANOGASTER
#Annotated_species: DROSOPHILA_MELANOGASTER
#Intron_bam: 
#Outgroup_species: ANASTREPHA_LUDENS

*ANASTREPHA_LUDENS /ceph/users/pdhakad/CAT_genomes/Anastrepha_ludens.GCF_028408465.1.rm.fna
AMIOTA_COMMUNIS /ceph/users/pdhakad/CAT_genomes/Amiota_communis.nanopore.rm.fna
AMIOTA_MARIAE /ceph/users/pdhakad/CAT_genomes/Amiota_mariae.nanopore.rm.fna
AMIOTA_MINOR /ceph/users/pdhakad/CAT_genomes/Amiota_minor.nanopore.rm.fna
CACOXENUS_INDAGATOR /ceph/users/pdhakad/CAT_genomes/Cacoxenus_indagator.nanopore.rm.fna
LEUCOPHENGA_MONTANA /ceph/users/pdhakad/CAT_genomes/Leucophenga_montana.nanopore.rm.fna
LEUCOPHENGA_MACULATA /ceph/users/pdhakad/CAT_genomes/Leucophenga_maculata.nanopore.rm.fna
LEUCOPHENGA_VARIA /ceph/users/pdhakad/CAT_genomes/Leucophenga_varia.GCA_018903435.1.rm.fna
STEGANA_NIGRITHORAX /ceph/users/pdhakad/CAT_genomes/Stegana_nigrithorax.nanopore.rm.fna
*DROSOPHILA_MELANOGASTER /ceph/users/pdhakad/CAT_genomes/Drosophila_melanogaster.GCF_000001215.4.rm.fna
