(DROSOPHILA_LOWEI:0.0122255,(((DROSOPHILA_PSEUDOOBSCURA:0.002588,DROSOPHILA_PSEUDOOBSCURA_PSEUDOOBSCURA:0.011876)Anc127:0.002519,DROSOPHILA_PERSIMILIS:0.004364)Anc99:0.004346,DROSOPHILA_MIRANDA:0.00994)Anc76:0.0122255);

#Root: Anc76
#Reference_species: DROSOPHILA_PSEUDOOBSCURA
#Annotated_species: DROSOPHILA_MIRANDA, DROSOPHILA_PERSIMILIS, DROSOPHILA_PSEUDOOBSCURA
#Outgroup_species: DROSOPHILA_LOWEI

*DROSOPHILA_LOWEI /ceph/users/pdhakad/CAT_genomes/Drosophila_lowei.GCA_008121275.1.rm.fna
*DROSOPHILA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura.GCF_009870125.1.rm.fna
*DROSOPHILA_PSEUDOOBSCURA_PSEUDOOBSCURA /ceph/users/pdhakad/CAT_genomes/Drosophila_pseudoobscura_pseudoobscura.GCA_000001765.3.rm.fna
DROSOPHILA_PERSIMILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_persimilis.GCF_003286085.1.rm.fna
*DROSOPHILA_MIRANDA /ceph/users/pdhakad/CAT_genomes/Drosophila_miranda.GCF_003369915.1.rm.fna
