(DROSOPHILA_NEBULOSA:0.0415805,(DROSOPHILA_INSULARIS:0.022533,DROSOPHILA_WILLISTONI:0.0159)Anc79:0.0415805);

#Root: Anc79
#Reference_species: DROSOPHILA_WILLISTONI
#Annotated_species: DROSOPHILA_WILLISTONI
#Outgroup_species: DROSOPHILA_NEBULOSA

*DROSOPHILA_NEBULOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_nebulosa.GCA_024703675.1.rm.fna
DROSOPHILA_INSULARIS /ceph/users/pdhakad/CAT_genomes/Drosophila_insularis.GCA_018903935.1.rm.fna
*DROSOPHILA_WILLISTONI /ceph/users/pdhakad/CAT_genomes/Drosophila_willistoni.nanopore.rm.fna
