(DROSOPHILA_SETIFEMUR:0.071082,((DROSOPHILA_BIPECTINATA:0.00726,DROSOPHILA_ANANASSAE:0.003202)Anc97:0.020178,(((DROSOPHILA_ERCEPEAE:0.008726,DROSOPHILA_MERINA:0.007487)Anc159:0.004997,DROSOPHILA_VALLISMAIA:0.011742)Anc126:0.04015,DROSOPHILA_VARIANS:0.043782)Anc98:0.009945)Anc75:0.071082);

#Root: Anc75
#Reference_species: DROSOPHILA_BIPECTINATA
#Annotated_species: DROSOPHILA_ANANASSAE, DROSOPHILA_BIPECTINATA
#Outgroup_species: DROSOPHILA_SETIFEMUR

*DROSOPHILA_SETIFEMUR /ceph/users/pdhakad/CAT_genomes/Drosophila_setifemur.GCA_021224005.1.rm.fna
*DROSOPHILA_BIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bipectinata.GCF_018153845.1.rm.fna
*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
*DROSOPHILA_ERCEPEAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ercepeae.GCA_018150545.1.rm.fna
*DROSOPHILA_MERINA /ceph/users/pdhakad/CAT_genomes/Drosophila_merina.nanopore.rm.fna
*DROSOPHILA_VALLISMAIA /ceph/users/pdhakad/CAT_genomes/Drosophila_vallismaia.nanopore.rm.fna
*DROSOPHILA_VARIANS /ceph/users/pdhakad/CAT_genomes/Drosophila_varians.GCA_018150405.1.rm.fna
