(DROSOPHILA_PACHEA:0.0405325,((((DROSOPHILA_EZOANA:0.01707,DROSOPHILA_KANEKOI:0.019624)Anc170:0.003477,DROSOPHILA_LITTORALIS:0.01634)Anc139:0.002317,DROSOPHILA_VIRILIS:0.014361)Anc109:0.005259,((DROSOPHILA_FLAVOMONTANA:0.001092,DROSOPHILA_BOREALIS:0.000661)Anc140:0.012608,DROSOPHILA_LACICOLA:0.015105)Anc110:0.010723)Anc87:0.0405325);

#Root: Anc87
#Reference_species: DROSOPHILA_VIRILIS
#Annotated_species: DROSOPHILA_VIRILIS
#Outgroup_species: DROSOPHILA_PACHEA

*DROSOPHILA_PACHEA /ceph/users/pdhakad/CAT_genomes/Drosophila_pachea.GCA_020883565.1.rm.fna
*DROSOPHILA_EZOANA /ceph/users/pdhakad/CAT_genomes/Drosophila_ezoana.nanopore.rm.fna
DROSOPHILA_KANEKOI /ceph/users/pdhakad/CAT_genomes/Drosophila_kanekoi.nanopore.rm.fna
DROSOPHILA_LITTORALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_littoralis.GCA_018903485.1.rm.fna
DROSOPHILA_VIRILIS /ceph/users/pdhakad/CAT_genomes/Drosophila_virilis.GCF_003285735.1.rm.fna
DROSOPHILA_FLAVOMONTANA /ceph/users/pdhakad/CAT_genomes/Drosophila_flavomontana.nanopore.rm.fna
DROSOPHILA_BOREALIS /ceph/users/pdhakad/CAT_genomes/Drosophila_borealis.nanopore.rm.fna
DROSOPHILA_LACICOLA /ceph/users/pdhakad/CAT_genomes/Drosophila_lacicola.nanopore.rm.fna
