(DROSOPHILA_VARIANS:0.03198,(((DROSOPHILA_ATRIPEX:0.019217,DROSOPHILA_MONIERI:0.019948)Anc158:0.005311,DROSOPHILA_ANANASSAE:0.003202)Anc125:0.012247,DROSOPHILA_BIPECTINATA:0.00726)Anc97:0.03198);

#Root: Anc97
#Reference_species: DROSOPHILA_BIPECTINATA
#Annotated_species: DROSOPHILA_ANANASSAE, DROSOPHILA_BIPECTINATA
#Outgroup_species: DROSOPHILA_VARIANS

*DROSOPHILA_VARIANS /ceph/users/pdhakad/CAT_genomes/Drosophila_varians.GCA_018150405.1.rm.fna
*DROSOPHILA_ATRIPEX /ceph/users/pdhakad/CAT_genomes/Drosophila_atripex.nanopore.rm.fna
DROSOPHILA_MONIERI /ceph/users/pdhakad/CAT_genomes/Drosophila_monieri.nanopore.rm.fna
*DROSOPHILA_ANANASSAE /ceph/users/pdhakad/CAT_genomes/Drosophila_ananassae.GCF_017639315.1.rm.fna
*DROSOPHILA_BIPECTINATA /ceph/users/pdhakad/CAT_genomes/Drosophila_bipectinata.GCF_018153845.1.rm.fna
