(DROSOPHILA_FUNEBRIS:0.030687,(DROSOPHILA_PRUINOSA:0.075791,DROSOPHILA_ALBOMICANS:0.005533)Anc91:0.030687);

#Root: Anc91
#Reference_species: DROSOPHILA_ALBOMICANS
#Annotated_species: DROSOPHILA_ALBOMICANS
#Outgroup_species: DROSOPHILA_FUNEBRIS

*DROSOPHILA_FUNEBRIS /ceph/users/pdhakad/CAT_genomes/Drosophila_funebris.GCA_958295475.1.rm.fna
*DROSOPHILA_PRUINOSA /ceph/users/pdhakad/CAT_genomes/Drosophila_pruinosa.GCA_018150935.1.rm.fna
*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
