(DROSOPHILA_TRIAURARIA:0.020474,((((((DROSOPHILA_MAYRI:0.016255,DROSOPHILA_BIRCHII:0.015035)Anc243:0.009285,(DROSOPHILA_BICORNUTA:0.018114,DROSOPHILA_TRUNCATA:0.019376)Anc244:0.005862)Anc217:0.007599,(DROSOPHILA_SERRATA:0.023919,DROSOPHILA_BUNNANDA:0.02216)Anc218:0.007761)Anc184:0.002508,DROSOPHILA_PUNJABIENSIS:0.027233)Anc152:0.001202,((((DROSOPHILA_BOCQUETI:0.011209,DROSOPHILA_AFF_CHAUVACAE_BK:0.010711)Anc245:0.015646,DROSOPHILA_VULCANA:0.021713)Anc219:0.002129,DROSOPHILA_SEGUYI:0.025038)Anc185:0.002412,DROSOPHILA_JAMBULINA:0.021322)Anc153:0.007104)Anc121:0.004188,DROSOPHILA_KIKKAWAI:0.007668)Anc95:0.020474);

#Root: Anc95
#Reference_species: DROSOPHILA_KIKKAWAI
#Annotated_species: DROSOPHILA_KIKKAWAI
#Outgroup_species: DROSOPHILA_TRIAURARIA

*DROSOPHILA_TRIAURARIA /ceph/users/pdhakad/CAT_genomes/Drosophila_triauraria.GCA_014170255.2.rm.fna
DROSOPHILA_MAYRI /ceph/users/pdhakad/CAT_genomes/Drosophila_mayri.GCA_008042485.1.rm.fna
*DROSOPHILA_BIRCHII /ceph/users/pdhakad/CAT_genomes/Drosophila_birchii.nanopore.rm.fna
DROSOPHILA_BICORNUTA /ceph/users/pdhakad/CAT_genomes/Drosophila_bicornuta.nanopore.rm.fna
DROSOPHILA_TRUNCATA /ceph/users/pdhakad/CAT_genomes/Drosophila_truncata.GCA_008042515.1.rm.fna
DROSOPHILA_SERRATA /ceph/users/pdhakad/CAT_genomes/Drosophila_serrata.nanopore.rm.fna
*DROSOPHILA_BUNNANDA /ceph/users/pdhakad/CAT_genomes/Drosophila_bunnanda.nanopore.rm.fna
DROSOPHILA_PUNJABIENSIS /ceph/users/pdhakad/CAT_genomes/Drosophila_punjabiensis.GCA_008042585.1.rm.fna
*DROSOPHILA_BOCQUETI /ceph/users/pdhakad/CAT_genomes/Drosophila_bocqueti.GCA_018151655.1.rm.fna
DROSOPHILA_AFF_CHAUVACAE_BK /ceph/users/pdhakad/CAT_genomes/Drosophila_aff._chauvacae_BK-2020.GCA_018903765.1.rm.fna
DROSOPHILA_VULCANA /ceph/users/pdhakad/CAT_genomes/Drosophila_vulcana.GCA_008042555.1.rm.fna
DROSOPHILA_SEGUYI /ceph/users/pdhakad/CAT_genomes/Drosophila_seguyi.GCA_008042675.1.rm.fna
*DROSOPHILA_JAMBULINA /ceph/users/pdhakad/CAT_genomes/Drosophila_jambulina.GCA_018152175.1.rm.fna
*DROSOPHILA_KIKKAWAI /ceph/users/pdhakad/CAT_genomes/Drosophila_kikkawai.GCF_018152535.1.rm.fna
