(DROSOPHILA_ALBOMICANS:0.011472,(((((((DROSOPHILA_NIGRODUNNI:0.005956,DROSOPHILA_ARAWAKANA:0.006279)Anc261:0.009125,DROSOPHILA_DUNNI:0.018034)Anc233:0.004925,DROSOPHILA_ACUTILABELLA:0.019363)Anc204:0.006947,DROSOPHILA_PARTHENOGENETICA:0.022705)Anc173:0.009296,DROSOPHILA_CARDINI:0.023984)Anc143:0.046722,(DROSOPHILA_TRIPUNCTATA:0.066767,DROSOPHILA_PALLIDIPENNIS:0.059247)Anc144:0.026031)Anc114:0.029389,DROSOPHILA_INNUBILA:0.017164)Anc90:0.011472);

#Root: Anc90
#Reference_species: DROSOPHILA_INNUBILA
#Annotated_species: DROSOPHILA_INNUBILA
#Outgroup_species: DROSOPHILA_ALBOMICANS

*DROSOPHILA_ALBOMICANS /ceph/users/pdhakad/CAT_genomes/Drosophila_albomicans.GCF_009650485.2.rm.fna
*DROSOPHILA_NIGRODUNNI /ceph/users/pdhakad/CAT_genomes/Drosophila_nigrodunni.GCA_020829145.1.rm.fna
DROSOPHILA_ARAWAKANA /ceph/users/pdhakad/CAT_genomes/Drosophila_arawakana.GCA_018151165.1.rm.fna
*DROSOPHILA_DUNNI /ceph/users/pdhakad/CAT_genomes/Drosophila_dunni.GCA_018152125.1.rm.fna
*DROSOPHILA_ACUTILABELLA /ceph/users/pdhakad/CAT_genomes/Drosophila_acutilabella.nanopore.rm.fna
DROSOPHILA_PARTHENOGENETICA /ceph/users/pdhakad/CAT_genomes/Drosophila_parthenogenetica.nanopore.rm.fna
DROSOPHILA_CARDINI /ceph/users/pdhakad/CAT_genomes/Drosophila_cardini.GCA_018903735.1.rm.fna
DROSOPHILA_TRIPUNCTATA /ceph/users/pdhakad/CAT_genomes/Drosophila_tripunctata.nanopore.rm.fna
DROSOPHILA_PALLIDIPENNIS /ceph/users/pdhakad/CAT_genomes/Drosophila_pallidipennis.nanopore.rm.fna
*DROSOPHILA_INNUBILA /ceph/users/pdhakad/CAT_genomes/Drosophila_innubila.GCF_004354385.1.rm.fna
